@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #673147;
  --foreground: #ffffff;
  --violine: #673147;
  --gold: #f5b441;
  --nblack: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cambria);
}

.cgv {
  counter-reset: heading;
}

.cgv h2:before {
  counter-increment: heading;
  content: counter(heading) ". ";
}

.cgv h2 {
  counter-reset: subheading;
}

.cgv h3:before {
  counter-increment: subheading;
  content: counter(heading) "." counter(subheading) " ";
}
